:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;

  /*Font weight*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  /*Colors */
  --desaturated-Red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-greyish-red: hsl(0, 6%, 24%);

  /*	#ce9797

     	#f96262*/
  /*Gradients*/
  --background1: linear-gradient(
    135deg,
    rgba(255, 255, 255),
    rgba(255, 255, 250)
  );
  --background2: linear-gradient(
    135deg,
    rgba(204, 201, 195),
    rgba(188, 189, 190)
  );
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.title {
  margin-top: 40px;
}
.semi-title {
  font-size: 3rem;
  font-weight: var(--fw-light);
  color: var(--desaturated-Red);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--dark-greyish-red);
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-top: 0;
}

p {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--desaturated-Red);
  line-height: 2rem;
  text-align: inherit;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-greyish-red);
  color: white;
  text-align: center;
}

footer a {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-top: 0px;
  margin-bottom: -10px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("./assets/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-left {
  justify-content: center;
  align-items: center;
  padding: 100px 50px 100px 200px;
}

.content-right {
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 200px;
}
.hero-desk-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-mobile-img {
  display: none;
}

.error {
  display: none;
}

.input {
  border-radius: 30px;
  border: 1px solid var(--desaturated-Red);
  padding: 0px 60px 0 25px;
  height: 2rem;
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--dark-greyish-red);
  width: 100%;
  height: 54px;
  margin-left: -10px;
  color: var(--desaturated-Red);
  font-weight: var(--fw-regular);
}
.sumbit {
  width: 100%;
  height: 54px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-left: -120px;
  width: 142px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 2px 4px 14px hsla(0, 36%, 70%, 0.8);
  transition-duration: 0.3s;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.attribution {
  margin-top: 0;
  padding-top: 8px;
}
