:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;

  /*Font weight*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  /*Colors */
  --desaturated-Red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-greyish-red: hsl(0, 6%, 24%);
  --light-pink: #ee8c8c;

  /*	#ce9797

     	#f96262*/
  /*Gradients*/
  --background1: linear-gradient(
    135deg,
    rgba(255, 255, 255),
    rgba(255, 255, 250)
  );
  --background2: linear-gradient(
    135deg,
    rgba(204, 201, 195),
    rgba(188, 189, 190)
  );
  --light-pink-pink: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: var(--background1);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo {
  margin-top: 30px;
  margin-left: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 40px;
}
.semi-title {
  font-size: 3rem;
  font-weight: var(--fw-light);
  color: var(--desaturated-Red);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--dark-greyish-red);
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--desaturated-Red);
  line-height: 2rem;
  text-align: inherit;
  margin-top: 0;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--desaturated-Red);
  text-align: center;
  margin-right: 200px;
  font-size: 0.8rem;
  font-weight: var(--fw-regular);
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  margin-top: -50px;
}

footer a {
  color: var(--soft-red);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./assets/images/bg-pattern-desktop.svg");
  margin: 0;
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px 100px 200px;
}

.content-right {
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 200px;
}
.hero-desk-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-top: -100px;
}

.hero-mobile-img {
  display: none;
}
.success {
  display: none;
  color: var(--light-pink);
  margin-left: 15px;
  font-size: 18px;
  margin-top: 25px;
  font-weight: var(--fw-bold);
}

.error {
  display: none;
  color: var(--soft-red);
  font-size: 18px;
  margin-top: 25px;
  margin-left: 15px;
  font-weight: var(--fw-bold);
  justify-content: center;
  align-items: center;
}

.erroricon {
  float: left;
  display: none;
  position: absolute;
  left: 550px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  resize: none;
}

.input {
  display: block;
  border-radius: 30px;
  border: 1px solid var(--desaturated-Red);
  padding: 0px 60px 0 35px;
  height: 2rem;
  font-size: 1rem;
  padding-left: -30px;
  font-weight: var(--fw-regular);
  color: var(--dark-greyish-red);
  width: 100%;
  height: 54px;
  color: var(--desaturated-Red);
  font-weight: var(--fw-regular);
  outline: none;
  resize: none;
  margin-left: -10px;
}

.submit {
  width: 100%;
  height: 54px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-left: -123px;
  width: 155px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 2px 4px 14px hsla(0, 36%, 70%, 0.8);
  transition-duration: 0.3s;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-in-out;
  color: white;
  font-weight: var(--fw-regular);
  font-size: 20px;
  outline: none;
}

.submit:hover {
  background: hsl(0, 74%, 74%);
  box-shadow: 2px 4px 14px hsla(0, 36%, 70%, 0.8);
  transform: scale(1.1);
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.attribution {
  margin-top: 0;
  padding-top: 8px;
}

@media (max-width: 768px) {
  .logo {
    margin-top: 30px;
    padding: 10px;
    margin-left: 30px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    margin-bottom: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-left {
    justify-content: center;
    align-items: center;
    padding: 0px 50px 100px 50px;
    order: 2;
  }

  .content-right {
    justify-content: center;
    align-items: center;
    padding: 0;
    order: 1;
  }

  .hero-desk-img {
    display: none;
  }

  .hero-mobile-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .input {
    border-radius: 30px;
    border: 1px solid var(--desaturated-Red);
    padding: 0px 30px 0 15px;
    height: 1rem;
    font-size: 0.8rem;
    font-weight: var(--fw-regular);
    color: var(--dark-greyish-red);
    width: 100%;
    height: 54px;
    margin-left: -10px;
    color: var(--desaturated-Red);
    font-weight: var(--fw-regular);
  }

  .submit {
    width: 100%;
    height: 54px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-left: -113px;
    width: 130px;
    background-image: linear-gradient(
      135deg,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
    box-shadow: 2px 4px 14px hsla(0, 36%, 70%, 0.8);
    transition-duration: 0.3s;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-in-out;
    color: white;
    font-weight: var(--fw-regular);
    font-size: 20px;
  }

  .submit:hover {
    background: hsl(0, 74%, 74%);
    box-shadow: 2px 4px 14px hsla(0, 36%, 70%, 0.8);
    transform: scale(1.1);
  }

  footer {
    margin-top: -50px;
    margin-right: 0px;
  }
}
